
.svgHeart:hover {animation: heartFill 1.5s cubic-bezier(0.1,0.4,1,0.2) 0s}

@keyframes heartFill {
    0%{fill:var(--UIWhite)}
    25% {fill:var(--Red4)}
    50% {fill:var(--Red3)}
    75% {fill:var(--Red2)}
    100% {fill:var(--Red)}
}

.svgHeart{
    fill:none;
    }
    
.svgHeart:hover{
    fill:var(--Red);
    transition:fill 3s cubic-bezier(0.1,0.4,1,0.2) 0s;
}

.svgHeart--clicked{

    fill: var(--Red);
}
