
.profile_header_background{

    /* background-image: url("../../assets/unsplash_GBEHjsPQbEQ.png"); */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 100%;
    height: 8rem;
}

.profile_header{
    margin-bottom: .5rem;

}

.profile_header_image{

    border-radius: 100%;


    border: 2px solid var(--Tertiary1);

    width: 7rem;
    height: 7rem;

    margin-top: 3rem;
    margin-left: 1rem;
}

.profile_header_container{

    margin: 2rem;
    margin-top: 2.6rem;
    margin-left: 3rem;
    
}

.profile_name, .profile_tag{

    margin-top: 0;
    margin-bottom: .2rem;;
    margin-left: .25rem;

}

.profile_other{

    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: .5rem;
    align-items: baseline;

}

.profile_other>p{

    color: var(--UIGrey)

}

.profile_following>p{

    color: var(--UIGrey)

}


.profile_description{
    margin: .5rem;
    margin-top: 1rem;
}

.profile_icon{

    width: .9rem;
    margin-right: .5rem;

}

.profile_tag{

    font-weight: normal;
}

.location_icon{
    
    width: .75rem;
}

.link_icon{
    width: 1rem;
}

.link_icon+a{

    text-decoration: none;
}

.link_icon+a:link{

    color: var(--UIGrey);
}
.link_icon+a:visited{

    color: var(--UIGrey);
}
.link_icon+a:hover{

    color: var(--Tertiary);
}
.link_icon+a:active{

    color: var(--Tertiary1);
}

@media screen and (max-width: 1600px){

    .profile_other{

        display: block;
        gap: 1rem;
        margin-top: 0rem;
    
    }

    .profile_following{

        display: flex;
        margin-top: 1.5rem;
        
    }
    .profile_following>p{

        margin: .25rem;
        
    }
    
}



