
/* Setup color scheme and spacing */
:root{

  /* Blacks and Greys */
  --UIBlack: rgba(0, 34, 51, 1);
  --UIGrey: rgba(0, 34, 51, .75);
  --UIGrey1: rgba(0, 34, 51, .50);
  --UIGrey2: rgba(0, 34, 51, .25);
  --UIGrey3: rgba(0, 34, 51, 0.1);

  /* White */
  --UIWhite:  rgba(255,255,255,1);

  /* Reds */
  --Red: rgba(164, 53, 31, 1);
  --Red1: rgba(164, 53, 31, 0.9);
  --Red2: rgba(164, 53, 31, 0.8);

  /* Primary Colors */
  --Primary: #338877;
  --Primary1: rgba(51, 136, 119, 0.75);
  --Primary2: rgba(51, 136, 119, 0.5);;
  --Primary3: rgba(51, 136, 119, 0.25);
 

  /* Secondary Colors */
  --Secondary: #336F88;
  --Secondary1:rgba(51, 111, 136, 0.75);
  --Secondary2:rgba(51, 111, 136, 0.50);
  --Secondary3: rgba(51, 111, 136, 0.25);

  /* Tertiary Colors */
  --Tertiary: rgba(51, 136, 77, 1);
  --Tertiary1: rgba(51, 136, 77, 0.75);
  --Tertiary2: rgba(51, 136, 77, 0.50);
  --Tertiary3: rgba(51, 136, 77, 0.25);

  /* Header Sizes */
  --HeaderH1: 2.5rem;
  --HeaderH2: 2rem;
  --HeaderH3: 1.5rem;
  --HeaderH4: 1rem;
  --HeaderH5: .5rem;
  --HeaderH6: .25rem;

  color: var(--UIBlack);

}

body, html { 
  overflow-x: hidden; 
  overflow-y: hidden;
}

h1{
  font-size: var(--HeaderH1);
}
h2{
  font-size: var(--HeaderH2);
}
h3{
  font-size: var(--HeaderH3);
  margin: .5em;
}
h4{
  font-size: var(--HeaderH4);
  margin: .25em;
}
h5{
  font-size: var(--HeaderH5);
  margin: 1em;
}

button.button{

  width: 4vw;
  height: 3vh;

  margin: 4px;

  border-radius: 5px;
  border: 1px solid var(--UIGrey1);
  /* background-color: var(--Red1); */
  
  text-align: center;
  text-decoration: none;
  color:var(--UIWhite);

  transition: all .2s ease-in-out;
  transition: scale .2s linear;

}

button.button:hover{

  /* background-color: var(--Red); */

  transform: background-color 1000ms linear;
  transform: scale(1.05);
}

button.button.red{

  background-color: var(--Red1);

}
button.button.red:hover{

  background-color: var(--Red); 

}
button.button.primary{

  background-color: var(--Primary1);

}
button.button.primary:hover{

  background-color: var(--Primary); 

}

.upperLeft{

  align-self: flex-start;
  display: flex;
  flex-direction: column;
  line-height: 3vh;

  margin-bottom: 2px;
}

.margin1{

  margin: 1rem;
}

